{% extends 'App/base.html' %}
{% load static %}
{% load tags %}

{% block head %}
<link rel="stylesheet" href="{% static 'App/search.css' %}">
{% endblock %}

{% block content %}

<section id="forms">

<form id="order-form" action="{% url 'search_form_hander' %}" method="get">
    {{forms.order}}
</form>

<form id="year-released-form" action="{% url 'search_form_hander' %}" method="get">
    <h5>Year Released</h5>
    <span id="selected-year"></span>
    {{forms.year_released}}
</form>

<form id="item-type-form" action="{% url 'search_form_hander' %}" method="get">
    <h5>Item Type</h5>
    {{forms.item_type}}
</form>

<form id="metric-limits-form" action="{% url 'search_form_hander' %}" method="get">
    <h5>Prices & Quantity</h5>
    <ul>
    {% for field in forms.metric_limits %}
        {% if not forloop.last %}
        <li>{{ field.label_tag }} {{ field }}</li>
        {% endif %}
    {% endfor %}
    </ul>
    <div id="metric-limit-buttons">
        <button type="submit">Go</button>
        {{forms.metric_limits.clear}}
    </div>
</form>

</section>

<section id="items-section">
    <div id="items">
        {% if items|length != 0 %}
        {% for item in items %}
        <a class="item-link" href="{% url 'item' item.item_id %}">
            <div class="item">
                <span>{{item.item_id}}</span>
                <img src="{% static item.image_path %}" alt="??">
                <span class="item-name">{{item.item_name}}</span>
                <table>
                    <tr>
                        <th>£ (N)</th>
                        <th>£ (U)</th>
                        <th>QTY (N)</th>
                        <th>QTY (U)</th>
                    </tr>
                    <tr>
                        <td>{{item.price_new}}</td>
                        <td>{{item.price_used}}</td>
                        <td>{{item.qty_new}}</td>
                        <td>{{item.qty_new}}</td>
                    </tr>
                </table>
            </div>
        </a>
        {% endfor %}
    
        {% else %}

        <span>No Items Matching Search Inputs</span>
        {% endif %}

    </div>


    {% if last_page > 1%}
    {% get_pages_qstring as qstring %}
    <div id="pages">
        {% if current_page != 1 %}
        <a href="{% url 'search' %}?{{qstring}}&pg=1"><<</a>
        <a href="{% url 'search' %}?{{qstring}}&pg={{current_page|add:-1}}"><</a>
        {% endif %}

        {% if current_page != last_page%}
        <a href="{% url 'search' %}?{{qstring}}&pg={{current_page|add:1}}">></a>
        <a href="{% url 'search' %}?{{qstring}}&pg={{last_page}}">>></a>
        {% endif %}
    </div>
    {% endif %}
</section>

{% endblock %}


{% block script %}
<script>
    var year_released_form = document.getElementById('year-released-form')
    let input = year_released_form.querySelector('input[type=range]')
    let label = document.getElementById('selected-year')
    input.addEventListener('input', () => {
        label.innerText = input.value
    })

    let url = window.location.href;
    let searchParams = new URLSearchParams(new URL(url).search);
    let year_released = searchParams.get('year_released')
    if (year_released) {
        label.innerText = year_released
    } else {
        label.innerText = ''
    }

</script>
{% endblock %}