{% extends 'App/base.html' %}

{% load static %}
{% load tags %}

{% block head %}
<link rel="stylesheet" href="{% static 'App/item.css' %}">

<!-- Chart data -->
{{ chart.labels|json_script:'chart-labels' }}
{{ chart.data|json_script:'chart-data' }}

{% endblock %}

{% block content %}

<section id="item-profile">
    <div id="top-half">
        <h3 id="item-name">{{item_info.item_name}}</h3>
        
        <a {% if request.user.is_authenticated %} href="#modal_{{item_info.item_id}}" {% else %} href="{% url 'login' %}" {% endif %}
        id="add-to-portfolio-button">Add To Portfolio</a>
        

    </div>
    <div id="bottom-half" class="row">
        <div id="item-image-container" class="item-div">
            <img src="{% static item_info.image_path %}" alt="">
        </div>

        <div id="chart-container" class="item-div">
            {% include 'App/chart.html' %}
        </div>

        <div id="item-info" class="item-div">
            <h3>{{item_info.item_type|item_type_convert:"capitalize"}} Information</h3>
            <span>Item No: {{item_info.item_id}}</span>
            <span>year Released: {{item_info.year_released}}</span>
        </div>

        <div id="price-info" class="item-div">
            <h3>Prices & Quantities</h3>
            <span>Price New : £{{price_new|format_number}}</span>
            <span>Price Used : £{{price_used|format_number}}</span>
            <span>Qty New : {{qty_new|format_number}}</span>
            <span>Qty Used : {{qty_used|format_number}}</span>
        </div>
    </div>
</section>

<section id="similar-items-section">
    <h3>Similar Items</h3>
    <div id="similar-items">
        {% for item in similar_items %}
        <div class="similar-item">
            <a href="{% url 'item' item.item_id %}">{{item.item_id}}</a>
            <img src="{% static item.image_path %}">
            <span>{{item.item_name}}</span>
        </div>
        {% endfor %}
    </div>
</section>

{% include 'App/item_inventory_modal.html' with inventory=inventory modal_id='modal_'|add:item_info.item_id %}

{% endblock %}

