{% extends 'App/base.html' %}

{% load tags %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'App/portfolio.css' %}">

{% if chart %}
    <!-- Chart datasets -->
    {{ charts|json_script:'charts' }}

    <!-- Chart data for item at index 0 -->
    {{ chart.labels|json_script:'chart-labels' }}
    {{ chart.data|json_script:'chart-data' }}

    {% include 'App/chart_metric_styles.html' %}
{% endif %}

{% endblock %}

{% block content %}

{% if portfolio_items %}
<section id="portfolio-items-section">
    <h2>Portfolio</h2>
    <div id="Portfolio-items">
    {% for item in portfolio_items %}
        <a href="{% url 'portfolio_item' item.item_id %}" class="item">
            <div class="item-id-image-container">
                <span>{{item.item_id}}</span>
                <img src="{% static item.image_path %}" alt="">
            </div>
            <div>
                <span>{{item.item_name}}</span>
                <span>In your Collection: {{item.count}}</span>
            </div>
        </a>
    {% endfor %}
    </div>
</section>
{% else %}
<section id="no-items-container">
    <span>No Items in your portfolio...</span>
    <span>Search for items <a href="{% url 'search' %}">here</a></span>
</section>
{% endif %}

{% if chart %}
<section id="chart-container">
    {% include 'App/chart.html' %}
</section>
{% endif %}

{% endblock %}

{% block script %}
<script>

    const chart_datasets = JSON.parse(document.getElementById('charts').textContent)
    const items = document.getElementsByClassName('item')

    function create_chart(hovered_item_index) {
        if (chart) {
            chart.destroy()
        }

        let chart_dataset = chart_datasets[hovered_item_index]
        document.getElementById('chart-labels').innerText = chart_dataset.labels
        document.getElementById('chart-data').innerText = chart_dataset.data
        
        chart = new CreateChart()
        chart = chart.create_chart() 
        return chart  
    }

    // onload, set the chart for the last hovered item
    window.addEventListener('load', () => {
        let hovered_item_index = sessionStorage.getItem('hovered_item_index')
        var chart = create_chart(hovered_item_index)
    })

    // when mouse over any portfolio item update chart to display data for that item
    Array.prototype.forEach.call(items, (item) => {
        item.addEventListener('mouseenter', () => {
            hovered_item_index = [...items].indexOf(item);
            sessionStorage.setItem('hovered_item_index', hovered_item_index)
            var chart = create_chart(hovered_item_index)    
        });
    });










</script>
{% endblock %}