{% load tags %}

<div id="current-metric-container">
    <div id="chart-metrics">
        <span id="current-metric-name">{{chart.metric|metric_convert}}</span>
        <span id="current-metric">{% if 'price' in chart.metric %}£{% endif %}{{chart.data|index:-1}}</span>
        <span id="metric-difference">
            {%if 'price' in chart.metric %}
            {{chart.metric_difference|add_sign|insert:"£,1"}}
            {% else %}
            {{chart.metric_difference|add_sign}}
            {% endif %}
        </span>
        <span id="metric-percentage-difference">({{chart.metric_percentage_difference|add_sign}}%)</span>
    </div>
    <span id="current-date"></span>
</div>

<span style="visibility: hidden;" id="chart-labels"></span>
<span style="visibility: hidden;" id="chart-data"></span>
<canvas id="chart-canvas"></canvas>
<script>
    var chart = new CreateChart()
    chart = chart.create_chart()
</script>

<form method="GET">
    {{ forms.chart_metric_select }}
</form>
