{% load tags %}

{% if chart.data|index:-1 >= chart.data|index:0 %}
<style>
    #current-metric {
        color: green;
    }
</style>
{% else %}
<style>
    #current-metric {
        color: red;
    }
</style>
{% endif %}

{% if chart.metric_difference >= 0%}
<style>
    #metric-difference {
        color: green;
    }
</style>
{% else %}
<style>
    #metric-difference {
        color: red;
    }
</style>
{% endif %}

{% if chart.metric_percentage_difference >= 0%}
<style>
    #metric-percentage-difference {
        color: green;
    }
</style>
{% else %}
<style>
    #metric-percentage-difference {
        color: red;
    }
</style>
{% endif %}