{% load tags %}

<div id="openModal" class="modalDialog">
    <div id="item-inventory">
        <div id="inventory-heading">
            <h3>{{item_info.item_id}} Inventory</h3>
            <a href="#close">X</a>
        </div>
        <div id="inventory-table-container">
            <table id="inventory-table">
                <form id="add-portfolio-item-form" action="{% url 'add_portfolio_item' item_info.item_id %}" method="POST">
                    {% csrf_token %}
                    <tr id="headings-row">
                        <th></th>
                        <th><label>{{forms.portfolio_item.bought_for.label}} (£)</label></th>
                        <th><label>{{forms.portfolio_item.date_acquired.label}}</label></th>
                        <th><label>{{forms.portfolio_item.notes.label}}</label></th>
                        <th></th>
                    </tr>

                    <tr id="new-inventory-item-input-row">
                        <td></td>
                        <td>{{forms.portfolio_item.bought_for}}</td>
                        <td>{{forms.portfolio_item.date_acquired}}</td>
                        <td>{{forms.portfolio_item.notes}}</td>
                        <td><button type="submit">Add!</button></td>
                    </tr>

                    <tr class="spacer-tr">
                        <td></td>
                    </tr>
                </form>

                {% for item in portfolio_item_inventory %}
                <tr>
                    <form action="{% url 'update_portfolio_item' item.entry_id %}" method="POST">
                        {% csrf_token %}
                        <td class="inventory-item-count">{{forloop.counter}}</td>
                        <td>{{item.form.bought_for}}</td>
                        <td>{{item.form.date_acquired}}</td>
                        <td>{{item.form.notes}}</td>
                        <td><button class="update-button" type="submit">Update</button></td>
                    </form>
                    <td>
                        <form class="delete-item-form" action="{% url 'delete_portfolio_item' item.entry_id %}" method="post">
                            {% csrf_token %}
                            <button class="delete-button" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>     


                    
                {% endfor %}
            </table>
        </div>
    </div>
</div>

