#authenticate-form {
    padding: 2rem 0 2rem;
    margin: 2rem auto;
    width: fit-content;
    min-width: 30vw;
    border: 0.1rem black solid;
    border-radius: 1rem;
    min-height: 70vh;
    position: relative;
}

#authenticate-form li {
    display: flex;
    flex-direction: column;
    width: 25rem;
    margin: auto;
    padding: 0 1rem 0;
}

#other-option {
    text-align: center;
    display: block;
    padding-top: 1rem;
}

#authenticate-form button {
    margin: auto;
    position: absolute;
    bottom: 1rem;
    display: block;
    width: 40%;
    left: 30%;

} 


