body {
    background-color: whitesmoke;
}

#top-half {
    background-color: rgb(44, 44, 44);
    height: 10rem;
}

#item-name {
    color: white;
    margin-left: 5vw;
}

#bottom-half {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 90vw;
    margin: auto;
}

#item-image-container {
    padding: 2rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#item-image-container, #chart-container {
    height: 30rem !important;
}

#item-image-container, #item-info {
    width: 25%;
}

#chart-container, #price-info {
    width: 73%;
}

#item-image-container img {
    margin: 0;
    padding: 0;
    max-width: 100%;
}

.item-div {
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem black;
    position: relative;
    bottom: 3rem;
    background-color: white;
}

#item-info {
    display: flex;
    flex-direction: column;
    height: 10rem;
}

#item-info h3 {
    margin-top: 0.5rem;
}

#item-info * {
    margin-left: 1rem;
}

#current-metric-container {
    height: 10%;
    padding-top: 0.9%;
    font-size: 1.2rem;
    padding-left: 1rem;
    display: flex;
    justify-content: space-between;
}

#chart-metrics span {
    margin: 0 0.1rem 0;
}

#current-date {
    margin-right: 2rem;
}

#chart-container {
    height: 29rem;
    margin-bottom: 1rem;
}

#chart-container canvas {
    height: 80% !important;
    width: 100% !important;
    /* padding-bottom: 3rem; */
}

#id_metric_select {
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#id_metric_select label {
    display: inline-block;
    position: relative;
    padding: 0 1rem 0;
    margin: 0 1rem 0;
    cursor: pointer;
    background-color: whitesmoke;
    text-align: center;
    border-radius: 1rem;
}

#id_metric_select input {
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
}

#price-info {
    height: 10rem; 
    display: flex;
    flex-direction: column; 
}

#price-info * {
    margin-left: 1rem;
}

#price-info h3 {
    margin-top: 0.5rem;
}

#similar-items-section {
    box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem black;
    margin-left: 5vw;
    width: 90vw;
    background-color: white;
}

#similar-items-section h3 {
    text-align: center;
    font-size: 1.75rem;
}

#similar-items {
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.similar-item {
    width: 15%;
    height: 16rem;
    overflow: hidden;
    margin: 0 0.5% 0;
}

.similar-item:last-child {
    border-right: unset;
}

.similar-item * {
    margin: auto;
    display: block;
    text-align: center;
}

.similar-item img {
    height: 70%;
    width: 100%;
}
