#id_q {
    width: 36rem;
    left: calc(50% - 18rem);
    position: absolute;
}

#search-suggestions-container {
    width: 36rem;
    height: 24rem;
    position: absolute;
    left: calc(50% - 18rem);
    overflow: scroll;
    z-index: 4;
    visibility: hidden;
}

.search-suggestion {
    border-bottom: 0.1rem black solid;
    display: flex;
    flex-direction: row;
    height: 6rem;
    padding: 0.5rem;
}

.search-suggestion:nth-child(odd) {
    background-color: white;
}

.search-suggestion:nth-child(even) {
    background-color: rgb(234, 217, 217);
}

.search-suggestion:hover {
    background-color: rgb(238, 227, 227);
}

.search-suggestion img {
    display: block;
}

.search-suggestion .item-name-item-id-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 1rem;
}