#id_q {
    width: 36rem;
    left: calc(50% - 18rem);
    position: absolute;
}

#search-suggestions-container {
    width: 36rem;
    height: 24rem;
    position: absolute;
    left: calc(50% - 18rem);
    overflow-y: auto;
    z-index: 4;
    visibility: hidden;
}

.search-suggestion {
    border-bottom: 0.1rem black solid;
    display: flex;
    flex-direction: row;
    height: 6rem;
    padding: 0.5rem;
}

.search-suggestion:nth-child(odd) {
    background-color: white;
}

.search-suggestion:nth-child(even) {
    background-color: rgb(234, 217, 217);
}

.search-suggestion:hover {
    background-color: rgb(238, 227, 227);
}

.search-suggestion img {
    display: block;
}

.search-suggestion .item-name-item-id-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 1rem;
}

#logged-in-container {
    display: flex;
    flex-direction: row;
}

#logout-link {
    display: block;
    color: rgba(255, 255, 255, .5);
    margin-left: 1.5rem;
    text-decoration: none;
}

#block-content {
    min-height: 75vh;
}

#messages {
    background-color: blue;
}

footer {
    border-top: 0.1rem black solid;
    text-align: center;
    padding: 1rem 0 1rem;
}

footer div {
    margin-bottom: 0.25rem;
}

#links span {
    margin: 0 0.5rem 0;
}

.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

#item-inventory {
    width: 60vw;
    position: relative;
    margin: 10% auto;
    padding: 1rem;
    border-radius: 10px;
    background-color: white;
    max-height: 60vh;
    min-height: 35vh;
}

#inventory-heading {
    display: flex;
    justify-content: space-between;
}

#inventory-table-container {
    max-height: 300px;
    overflow-y: auto;
}

#item-inventory input{
    border: unset;
    border-bottom: 0.1rem black solid;
    outline: none;
}

#inventory-table {
    width: 90%;
    margin: 1rem auto 0;
    overflow: scroll;

}

#headings-row {
    border-bottom: 0.075rem gray solid;
    /* position: sticky;
    top: ; */
}

#new-inventory-item-input-row button {
    background-color: green;
}

.spacer-tr {
    border-top: 0.1rem transparent solid ;
    border-bottom: 0.5rem solid transparent;
}

#inventory-table button {
    min-width: 3rem;
}

#inventory-table label {
    text-align: center;

}

.delete-button {
    background-color: red;
}

.update-button {
    background-color: skyblue;
}

.inventory-item-count {
    text-align: left;
    width: 2rem;
    float: left;
}

#id_chart_metric {
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#id_chart_metric label {
    display: inline-block;
    position: relative;
    padding: 0 1rem 0;
    margin: 0 1rem 0;
    cursor: pointer;
    background-color: whitesmoke;
    text-align: center;
    border-radius: 1rem;
}

#id_chart_metric input {
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
}

#current-metric-container {
    height: 10%;
    padding-top: 0.9%;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
}

#chart-metrics span {
    margin: 0 0.1rem 0;
}

#current-date {
    margin-right: 4rem;
}

#chart-container {
    height: 29rem;
    margin-bottom: 1rem;
}

#chart-container canvas {
    height: 80% !important;
    width: 100% !important;
}